/* 
"#" == id, 
"." == class 
*/
/*navigation*/
/*Colors
#e06a82
#d5a1ad
#e3e3e1
#f7f7f5
#a6c9cf
*/
body {
	margin: 0;
}
.nav-bar-blue {
	background-color: #db8412;
	margin: 0;
	width: 100%;
	overflow: auto;
	z-index: 2;
}
.nav-bar-item {
	color: white;
}
.nav-bar-blue a {
	float: left;
	text-align: center;
	padding: 12px;
}
.nav-bar-blue a:hover {
	background-color: gray;
}
.sticky {
	position: fixed;
	top: 0;
}
/*header*/
.header {
	/*background-color: #a6c9cf;*/
	position: relative;
	top: 42px;
	overflow: hidden;
	height: 930px;
	background-image: url(Images/Header.jpg);
	background-position: center;
	z-index: 1;
}
.header h1, h2, p {
	position: relative;
	left: 0;
	top: 100;
	bottom: 50;
	
	padding-left: 2%;
	color:black;
}
.header h1, h2 {
	font-size: 40px;
}

/*Container*/
* {
	box-sizing: border-box;
}
.container {
	display: flex;
	flex-wrap: wrap;
}
.side {
	flex: 30%;
	background-color: white;
	padding: 20px;
}
.middle {
	flex: 70%;
	background-color: white;
	padding: 20px;
}
/*footer*/
.footer {
	color: black;
	text-align: center;
	background-color: white;
	padding: 40px;
}
.footer-link {
	height: 30px;
	width: 30px;
}

/*Responsive layout*/
/*stacks left column on top of rigth column if the screen size is reduced*/
@media screen and (max-width: 700px) {
	.container {
		flex-direction: column;
	}
}










/*
h1, h2 {
	color: blue;
}
ol {
	color: rgb(0,232,15);
	width: 70%;
}
#goals {
	background-color: red;
}
#first_image {
	width: 100px;
	height: 150px;
}

a.header {
	color: green;
}
p a .header{
	background-color: aliceblue;
}*/